@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(238, 237, 243);
}
body p, body li, body h4, body h3 {
  color: rgb(70, 104, 178);
}
body hr {
  background: rgb(70, 104, 178);
  color: rgb(70, 104, 178);
}
body a {
  text-decoration: none;
  color: rgb(70, 104, 178);
}

header {
  background-color: rgb(238, 237, 243);
  z-index: 1;
  width: 100%;
  -moz-column-gap: 40%;
       column-gap: 40%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0%;
}
header .header_ul a {
  text-decoration: none;
  color: rgb(70, 104, 178);
}
header .header_ul a:hover {
  border-bottom: 2px solid rgb(70, 104, 178);
}
header ul {
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
}

#acceille_section {
  margin-top: 160px;
}

#acceille_section_domintervention {
  margin-top: 160px;
  text-align: justify;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#acceille_article {
  text-align: center;
}
#acceille_article h1 {
  color: rgba(37, 69, 114, 0.856);
}
#acceille_article p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#informations {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
#informations div {
  text-align: center;
}

#Aventurexplore {
  text-align: center;
  top: -400px;
  position: relative;
}

hr {
  width: 50%;
  margin-top: 50px;
}

footer h3 {
  text-align: center;
}
footer nav {
  display: flex;
}
footer nav i {
  margin-top: auto;
  margin-bottom: auto;
}

#reseaux_icon {
  display: flex;
  justify-content: space-evenly;
}

.menu_principale {
  position: absolute;
  left: -2000px;
  top: 100px;
  width: 95%;
  background-color: rgba(37, 69, 114, 0.856);
}
.menu_principale ul {
  border-bottom: 1px solid white;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}
.menu_principale ul li {
  color: white;
  text-align: center;
}
.menu_principale ul li a {
  color: white;
  text-decoration: none;
}

.menu_li {
  transition: 1s;
  left: 2.5%;
}

.logo_image {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#image_acceuille {
  text-align: center;
  background-image: url("/images/accueilEssais.webp");
  background-position: center;
  background-size: cover;
  width: 99%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

#icon_menu {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
}

@media (max-width: 768px) {
  body header ul {
    display: none;
  }
  body header #icon_menu {
    display: block;
  }
}
@media (max-width: 425px) {
  #reseaux_icon {
    display: grid;
    grid-template-columns: auto auto;
  }
}
#nosService_main {
  margin-top: 160px;
}

h1 {
  color: rgb(70, 104, 178);
  text-align: center;
}

.services_div {
  display: flex;
  margin-top: 60px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 10px 0px rgb(70, 104, 178);
  border-radius: 30px;
  background-color: rgb(239, 241, 241);
}
.services_div:hover {
  box-shadow: 0px 0px 10px 0px rgb(42, 62, 106);
}
.services_div div {
  margin: 10px;
}
.services_div div button {
  background-color: rgb(70, 104, 178);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  left: auto;
  right: auto;
}
.services_div img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 425px) {
  .services_div {
    display: grid;
    text-align: center;
  }
}
#apropos_section, #nosService_main {
  margin-top: 160px;
  text-align: justify;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.image_publication {
  width: 80%;
  box-shadow: 0px 0px 10px 0px rgb(70, 104, 178);
  margin: 40px auto;
}

.image_publication img {
  width: 100%;
}

#news_section {
  margin-top: 160px;
}

#news_section p {
  margin: 10px;
}/*# sourceMappingURL=index.css.map */