.logo_image{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
#image_acceuille{
    text-align: center;
    background-image:url("/images/539260CC-CA54-46CA-8182-535E957F4967_1_105_c.jpeg");
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
#icon_menu{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}
