.logo_image{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
#image_acceuille{
    z-index: -10;
   position: fixed;
    text-align: center;
    background-image:url("/images/accueilEssais.webp");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
}
#icon_menu{
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}
