.image_publication{
    
    width: 80%;
    
    box-shadow: 0px 0px 10px 0px rgb(70, 104, 178);
    margin: 40px auto;
  }
  .image_publication img{
    width:100%;
  }
  #news_section{
    margin-top: 160px;
  }
  #news_section p{
    margin: 10px;
    
  }
  